body {
    font-family: 'segoe UI', sans-serif;
    background-color: #F5F5DC;
    margin: 0;
    padding: 0;
    background:#fdf6f0;
  }
  
  header {
    background-color: #8B4513;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
  }

  nav{
   
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    margin: 1 15px;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  
  .card {
    background-color: #fff3e0;
    padding: 20px;
    border: 1px solid hwb(25 36% 19%);
    width: 200px;
    transition: all 0.3s ease;
  }
  
  .card:hover .meaning {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  .meaning {
    display: none;
    opacity: 0;
  }
  
 







  .form-container {
    max-width: 400px;
    margin: 80px auto;
    background-color: #fefefe;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    font-family: 'Segoe UI', sans-serif;
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #8b0000;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  





  .form-container input[type="text"],
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }
  
  .form-container textarea {
    resize: vertical;
    height: 80px;
  }
  
  .form-container button {
    width: 100%;
    background-color: #cc5500;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container button:hover {
    background-color: #a84300;
  }
  






label{
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}




input [type="text"], textarea
{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}
  textarea{
    resize:vertical;
    height: 100;
  }
  
  button {
    margin-top: 15px;
    background-color: #DAA520;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }


